.container {
    display: grid;
    width: 70.8rem;
    height: 37.2rem;
    border-radius: 3rem;
    padding: 2.8rem 0.4rem 3rem 2.8rem;
    background-color: var(--white);
    border: 0.2rem solid #7362BC;
}